{% extends "header.html" %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class="uk-container">
    <div class="uk-card uk-background-secondary uk-padding uk-light">
        {% from "_formhelpers.html" import render_field %}
        <form method="post" action="/register/">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Register</legend>
                <dl>
                    {{render_field(form.username)}}
                    {{render_field(form.email)}}
                    {{render_field(form.password)}}
                    {{render_field(form.confirm)}}
                    {{render_field(form.accept_tos)}}
                </dl>
                <button class="uk-button uk-button-default" type="submit" value="Register">Register</button>
            </fieldset>
        </form>
    </div>

    {% if error %}
      <p class="error"><strong>Error:</strong>{{ error }}</p>
    {% endif %}

  </div>

{% endblock %}